.custom-btn {
  background-color: hotpink;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  transition: all 0.3s ease;
} 

.custom-btn:hover {
  background-color: deeppink;
  box-shadow: 0 0 12px hotpink;
}

.btn-hotpink {
  background-color: hotpink;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.btn-hotpink:hover {
  background-color: deeppink;
  box-shadow: 0 0 12px hotpink;
}

.card-body {
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-family: Courier New;
}

.card-body:hover {
  background-color: deeppink;
  box-shadow: 0 0 12px hotpink;
}

