.navbar-brand {
  text-shadow: 4px 4px 6px hotpink;
}

.navbar-brand:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
}

.navbar-nav .nav-link {
  transition: box-shadow 0.2s ease-in-out;
  
}

.navbar-nav .nav-link:hover {
  box-shadow: 0 4px 8px -2px hotpink;
}

.reviews {
  text-shadow: 4px 4px 6px hotpink;
  font-family: Courier New;
}

.reviews:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

.buisnessHours {
  text-shadow: 4px 4px 6px hotpink;
  font-family: Courier New;
}

.buisnessHours:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

.cancellationPolicy {
  text-shadow: 4px 4px 6px hotpink;
  font-family: Courier New;
}

.cancellationPolicy:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

.ratingAndReviews {
  text-shadow: 4px 4px 6px hotpink;
  font-family: Courier New;
}

.ratingAndReviews:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

.askAQuestion {
  text-shadow: 4px 4px 6px hotpink;
  font-family: Courier New;
}

.askAQuestion:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

.sendEmailBtn {
  text-shadow: 4px 4px 6px hotpink;
  font-family: Courier New;
}

.sendEmailBtn:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

#floatingName {
 font-family: 'Comic Sans MS', cursive;
}

#floatingName:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

#floatingEmail {
 font-family: 'Comic Sans MS', cursive;
}

#floatingEmail:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}

#floatingMessage {
 font-family: 'Comic Sans MS', cursive;
}

#floatingMessage:hover {
  box-shadow: 0 0 15px hotpink;
  color: hotpink;
  border-color: hotpink;
  border-radius: 12px; 
}




